
    <title> SecondsInAMinute = 60</title>
</head>
<%- include ('./bloks/header.ejs') %>
<h1>Статья № <%= newsId %></h1>
<body>
Title!!! <%= data.title %>
ID: <b><%= data.id %></b>
var SecondsInAHour = SecondsInAMinute*MinutesInAHour
var HoursInADay = 24
var SecondsInADay = SecondsInAHour*HoursInADay
var DaysInAYear = 365
var SecondsInAYear = DaysInAYear*SecondsInADay
<ul>
    <% data.pharagrafs.forEach(function (item) { %>
    <li> <%= item %></li>
    <% }); %>
</ul>
</body>
<style>
    body {
        background: beige;
    }
</style>